.App-card {
  text-align: center;

 
}



.App-card{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  height: 100vh; 
 
  gap:40px;
  padding:200px;
 
}





